/* Layout */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

body { margin-top: 10px; }

h1 {
  margin: 10px 0 0;
  }

h2 {
  color: #58595B;
  margin-bottom: 10px;
  font-family: "Rockwell","Rockwell MT","American Typewriter",georgia,serif;
  font-size: 26px;
  font-weight: normal;
  line-height: 28px;
  text-shadow: none;
}


/*div { border: solid 1px red; }*/

.page { 
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.header { width: 940px; float: left;}
.sidebar { float: left; 
           width: 220px
}
.main { float: right; 
         width: 700px;
}
.profile{}
#map{ margin-top: 15px;}
.badges{}
.footer{}

.panel {
  -moz-border-radius: 6px 6px 6px 6px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  background: none repeat scroll 0 0 #FFFFFF;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: rgba(0, 0, 0, 0.796875) 0px 1px 3px;
  background: white;
  border-bottom-left-radius: 6px 6px;
  border-bottom-right-radius: 6px 6px;
  border-top-left-radius: 6px 6px;
  border-top-right-radius: 6px 6px;
}
.panel-content {
  overflow: auto;
}

.location {
      padding: 10px 18px;
}

#google-map {
  float: left;
  height: 100px;
  margin-bottom: 10px;
  width: 300px;
}

.addresses {
  float: left;
  width: 350px;
}

#login-box {
  background: #000;
  background: rgba(0, 0, 0, 0.699219);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  height: 50px;
  margin-bottom: 10px;
  max-width: 340px;
  padding: 5px 10px;
  float: right;
  font-size: 0.8em;
  white-space: nowrap;
}

#login-box .profilepic {
  float: left;
  margin-right: 5px;
}

#login-box a {
  color: lightblue;
  text-decoration: none;
}

#footer {
  width: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.699219);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  height: 50px;
  margin-bottom: 10px;
  float: right;
  font-size: 0.8em;
  white-space: nowrap;
}

#footer p {
  padding: 5px 10px;
  color: white;
}

ul.stats {
  display: block;
  font-family: Rockwell, 'Rockwell MT', 'American Typewriter', georgia, serif;
  list-style: none;
  margin: 50px 0px;
  padding: 0px;
  clear: both;
}

ul.stats li {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 2px 1px 5px #888888;
    background: none repeat scroll 0 0 #F6F1C8;
    float: left;
    font-size: 0.7em;
    padding: 6px 13px;
    margin-right: 6px;
}

ul.stats li span {
  font-size: 1.6em; 
  font-weight: bold; 
  color: rgb(135, 151, 1);
  width: 100%;
  position: absolute;
}

ul.nav {
  width: 220px;
  font-family: Rockwell, 'Rockwell MT', 'American Typewriter', georgia, serif;
  font-size: 16px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul.nav li {
background: #FFF;
background: rgba(255, 255, 255, 0.898438);
background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-bottom-left-radius: 6px 6px;
border-bottom-right-radius: 6px 6px;
border-top-left-radius: 6px 6px;
border-top-right-radius: 6px 6px;
display: inline-block;
margin: 0px 0px 5px;
width: 220px;
padding: 10px 5px;
}

ul.nav li a {
border-bottom-left-radius: 6px 6px;
border-bottom-right-radius: 6px 6px;
border-top-left-radius: 6px 6px;
border-top-right-radius: 6px 6px;
display: inline-block;
padding: 6px 10px 8px;
text-decoration: none;
width: 200px;
}

#dog_pic {
  width: 280px;
  float: left;
}

#profile .details{
  clear: left;
  margin: 60px 10px;
}


#profile h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 5px;
}

#profile .title p {
  color: #58595B;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
}

#profile .details {
  font-size: 12px;
}

#profile .images {
  margin: 20px 0;
}

.address {
  margin-left: 10px;
}

div.bubble {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;

  background: none repeat scroll 0 0 yellow;
  left: -70px;
  padding: 10px;
  position: relative;
  top: 10px;
}

div.bubble span {
  background: url(/images/bubble_tri.gif) repeat scroll 0 0;
  bottom: -15px;
  display: block;
  height: 25px;
  position: absolute;
  width: 25px;
}

.top_margin {
  margin-top: 10px;
}

.comments {
  padding: 10px 18px;
}


.adopt {
  background: -moz-linear-gradient(center bottom , #1D96E1 0%, #1D81BF 47%, #1D81BF 50%, #68C5FF 100%) repeat scroll 0 0 transparent;
background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#1D96E1), color-stop(0.47, #1D81BF), color-stop(0.5, #1D81BF), to(#68C5FF));
  -moz-border-radius: 2em;
  border: medium none;
  color: #FFFFFF;
  font: 26px/100% "Rockwell","Rockwell MT","American Typewriter",georgia,serif;
  text-shadow: 0 -1px 0 #333333;
  opacity: 0.9;
  -moz-border-radius: 2em;
  border-radius: 2em;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 2px;
  border: 1px solid #555555;
  color: #E9E9E9;
  cursor: pointer;
  display: inline-block;
  font: 26px/100% "Rockwell","Rockwell MT","American Typewriter",georgia,serif;
  margin: 10px;
  outline: medium none;
  padding: 0.3em 1em 0.35em;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  float: right;
}

/* Grey = Adopted */
.adopted {
  background: -moz-linear-gradient(center top , #888888, #575757) repeat scroll 0 0 transparent;
}

.price {
    color: #9EC43C;
    font-size: 52px;
    font-weight: bold;
    line-height: 52px;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    width: 125px;
    float: left;
}

.dollar-sign {
    font-size: 22px;
    left: 14px;
    line-height: 34px;
    position: relative;
    top: -20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7)
}

.share {
  padding: 10px 0;
  margin: 10px 0;
  border-top: 1px solid #ddd;
}

.share p {
  margin: 7px;
}

.social-share-fb {
    background: url("/images/fb_icon.png") no-repeat scroll 5px 3px #ECEEF5;
    border: 1px solid #C0CBE1;
    color: #54599A;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 11px;
    height: 18px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 5px;
    text-shadow: 0 1px 1px #FFFFFF;
}

.social-share-fb-count {
    float: left;
    font: bold 12px/20px Arial;
    padding-left: 5px;
    padding-right: 5px;
}

#map_canvas { height: 100% }

#footer a {
display: inline-block;
padding: 6px 10px 8px;
text-decoration: none;
color: #62B9ED;
}

