%h1{:style=>"font-size: 26px; float: left;"} A Fur Go
#login-box{:style=>"border: solid 1px black; color: white;"}
  <img class="profilepic" src="https://graph.facebook.com/mike.bailey.is.gfd/picture"/>
  %p{:style=>"float: left; padding: 7px"}
    Welcome back, Mike Bailey<br/>
    =link_to "my deals", "#"
    |
    =link_to "my deals", "#"
    |
    =link_to "my deals", "#"
