.title
  %h1 aFurGo
  %h2= @city
#login-box{:style=>"border: solid 1px black; color: white; display:none;"}
  <img class="profilepic" src="https://graph.facebook.com/mike.bailey.is.gfd/picture"/>
  %p{:style=>"float: left; padding: 7px"}
    Welcome back, Mike Bailey<br/>
    =link_to "my deals", "#"
    |
    =link_to "my deals", "#"
    |
    =link_to "my deals", "#"
