.panel
  .panel-content{:style=>"height: 500px;"}
    %h1 About
    %p Imagine being able to save a life just by 
    %p aFurGo.com is about helping people give animals in need a second chance.
    %p We work with rescue to indentify dogs who have been waiting a long time to find a home.
    %p By subscribing and sharing with others you can help these dogs get out of shelters and into loving homes.

    = image_tag 'hero_pink_collar.jpg', :width => 400, :class => :hero

