.panel
  .panel-content
    %h1 About
    %p aFurGo.com is about helping people give animals a second chance.
    %p We work with rescue to indentify dogs who have been waiting a long time for a good home.
    %p By subscribing and sharing with others you can help these dogs get out of shelters and into loving homes.


