.panel
  .panel-content
    %h1 Cities
    %p We've got the following cities covered and will be adding more soon!
    - @cities.each do |region, cities|
      %h2= region.capitalize 
      %ul.cities
        - if ! cities.blank?
          - cities.each do |city|
            %li= link_to city.capitalize, "/?city=#{city}"
        - else
          Stay tuned!
