body, #fb {
    font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}

#page-wrapper { 
  float: left; 
  width: 100%; 
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

a {
    color: #1D81C1;
    text-decoration: none;
}

.container_12,.container_16{margin-left:auto;margin-right:auto;width:960px}

html {
  background: url(images/hero_smile.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#titlebar {margin-top: 10px; position: relative; height: 90px; width: 100%;}

#page{ 
  margin-left:auto; 
  margin-right:auto; 
  width:960px
}

.nav {
  width: 220px;
}

#badge {
    position: absolute;
    right: 0;
  }

div.nav ul {margin: 0; padding: 0; list-style: none; font-size: 16px; font-family: "Rockwell", "Rockwell MT", "American Typewriter",georgia,serif}
div.nav ul li {width: 220px; margin: 0 0 5px 0; display: block; display: inline-block; background: #fff; background: rgba(255,255,255, .9); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
ul li {list-style: none; padding: 0px; margin: 0px}
#left-navigation li {position: relative;}

div.nav ul {margin: 0; padding: 0; list-style: none; font-size: 16px; font-family: "Rockwell", "Rockwell MT", "American Typewriter",georgia,serif}
div.nav ul li {width: 220px; margin: 0 0 5px 0; display: block; display: inline-block; background: #fff; background: rgba(255,255,255, .9); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
div.nav ul li a {width: 200px; padding: 6px 10px 8px; text-decoration: none; display: inline-block; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px}
div.nav ul li a:link {color: #1781C1}
div.nav ul li a:visited {color: #1781C1}
div.nav ul li a:active {margin: 0px}
div.nav ul li a:hover, div.nav ul li.selected a {color: #fff; background-color: #9BC03C; background: -webkit-gradient( linear, left bottom, left top, color-stop(0.07, rgb(155,193,59)), color-stop(0.9, rgb(184,212,26)) ); background: -moz-linear-gradient( center bottom, rgb(155,193,59) 7%, rgb(184,212,26) 90% );}
div.nav ul li.escapes {background: transparent}
div.nav ul li.escapes a {text-indent: -9999px; width: 220px; height: 91px; background: #9ec43d url("http://a1.ak.lscdn.net/deals/images/cobrand/escapes/escapes-nav.png") no-repeat center right; border-top: 1px solid #fff; padding: 10px 0 0 0; margin: 8px 0 0 0}

.panel {background: #fff; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.8); -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.8)}
.panel-body {background-position: top right; background-repeat:repeat-y; padding: 0px; position: relative; zoom: 1; z-index:1}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}

.clearfix{display:inline-block}
* html .clearfix{height:1%}
* .clearfix{display:block}

#badge {
    -moz-border-radius: 6px 6px 6px 6px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    height: 50px;
    margin-bottom: 10px;
    max-width: 340px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 15px;
}
#badge.koofers {
    top: 58px;
}
#badge.koofers-iframe {
    top: 0;
}
#badge .thumb {
    -moz-border-radius: 3px 3px 3px 3px;
    background: none repeat scroll 0 0 transparent;
    float: left;
    height: 50px;
    position: relative;
    width: 50px;
}
#badge .facebook-logo {
    background: url("http://a2.ak.lscdn.net/deals/images/bingy/facebook.gif") no-repeat scroll left top transparent;
    bottom: 0;
    height: 14px;
    position: absolute;
    right: 0;
    width: 14px;
}
#badge .thumb img {
    -moz-border-radius: 3px 3px 3px 3px;
    height: 100%;
    width: 100%;
}
.fb-badge .badge_content {
    margin-left: 60px;
}
.fb-badge {
    padding: 5px;
}
#badge ul li {
    float: left;
    padding-right: 5px;
}
#badge ul li a {
    font-size: 12px;
    margin-right: 5px;
}
#badge ul li.last {
    padding-right: 0;
}
#badge ul li.last a {
    margin-right: 0;
}
#badge .name {
    color: #ABABAB;
    font-size: 14px;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
}
#badge a, #badge strong {
    color: #66C3FE;
}
#badge .unauth {
    color: #FFFFFF;
    padding-top: 14px;
    text-align: center;
    width: 125px;
}
#badge .unauth p {
    margin-bottom: 2px;
    margin-top: 8px;
}
#badge .unauth .fb {
    float: left;
    margin-top: 14px;
    text-align: center;
}
#badge .unauth .ls {
    float: right;
}
#badge .unauth span.divider {
    margin: 0 3px;
}
#control-bar {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 15px;
}
#control-bar ul {
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    background-color: rgba(0, 0, 0, 0.85);
    height: 42px;
}
#control-bar li {
    border-left: 1px solid #373C3F;
    border-right: 1px solid #000000;
    float: right;
    height: 100%;
    overflow: hidden;
    padding: 0 10px;
    text-align: left;
}
#control-bar li a {
    color: #66C3FE;
    text-decoration: none;
}
#control-bar .unauthed li {
    line-height: 30px;
}
#control-bar .profile {
    border-left: 0 none;
    padding: 0;
}
#control-bar .profile * {
    height: 32px;
    width: 32px;
}
#control-bar .profile img {
    margin-right: 5px;
    margin-top: 5px;
    width: 32px;
}

.portrait {
    height: 400px;
}

.content {
    padding: 5px 20px 10px 0;
    width: 376px;
}

.omega {
    margin-right: 0;
}
